.craft-visor {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  &::after {
    background: rgba(0, 0, 0, .75);
    content: "";
    position: fixed;
    height: 100%;
    left: 0;
    opacity: 0;
    top: 0;
    transition:
      opacity .2s,
      visibility .2s;
    width: 100%;
    visibility: hidden;
    z-index: 9990;

    @media (min-width: 40em) {
      opacity: 1;
      transition: none;
    }
  }

  &.is-open::after {
    opacity: 1;
    visibility: visible;
  }

  &__toggle {
    background: none;
    border: none;
    bottom: 1rem;
    cursor: pointer;
    left: 1rem;
    padding: 0;
    margin: 0;
    outline: none;
    opacity: .5;
    position: fixed;
    z-index: 998;
  }

  &__toggle:hover &__open-icon {
    opacity: .75;
    transform: scale3d(1.2, 1.2, 1);
  }

  &__toggle:active &__open-icon {
    opacity: .95;
    transform: scale3d(.85, .85, 1);
  }

  &__open-icon {
    fill: #fff;
    opacity: .5;
    transition:
      opacity .1s,
      transform .1s;
    will-change:
      opacity,
      transform;
  }

  &__modal {
    background: #124b92;
    background: linear-gradient(135deg, #124b92, #35b3b9 60%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
    left: 50%;
    max-width: 380px;
    position: fixed;
    top: 50%;
    transition:
      transform .5s,
      visibility .5s;
    transform: translate3d(-50%, 250%, 0);
    visibility: hidden;
    width: 90%;
    will-change:
      opacity,
      transform,
      visibility;
    z-index: 9991;

    @media (min-width: 40em) {
      display: flex;
      max-width: 630px;
      opacity: 0;
      transition:
        opacity .2s,
        transform .2s,
        visibility .2s;
      transform:
        translate3d(-50%, -40%, 0)
        scale(.7);
    }
  }

  &.is-open &__modal {
    transform: translate3d(-50%, -50%, 0);
    visibility: visible;

    @media (min-width: 40em) {
      opacity: 1;
      transform:
        translate3d(-50%, -50%, 0)
        scale(1);
      visibility: visible;
    }
  }

  &__close {
    background: #fff;
    border: none;
    border-radius: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    color: #888;
    height: 30px;
    font-size: 34px;
    line-height: 30px;
    outline: none;
    padding: 0;
    position: absolute;
    right: -10px;
    top: -10px;
    transform: scale3d(.875, .875, 1);
    transition: transform .1s;
    width: 30px;
    z-index: 9992;
  }

  &__close:hover {
    transform: scale3d(1, 1, 1);
  }

  &__entry {
    overflow: hidden;
    position: relative;

    @media (min-width: 40em) {
      align-items: center;
      display: flex;
      width: 50%;
    }
  }

  &__entry-bg {
    bottom: -20%;
    display: none;
    fill: #fff;
    height: 100%;
    left: 0;
    opacity: .05;
    position: absolute;
    width: 100%;
    z-index: 1;

    @media (min-width: 40em) {
      display: block;
    }
  }

  &__entry-content {
    backface-visibility: hidden;
    margin: 0 auto;
    max-width: 200px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    width: 90%;
    z-index: 2;
  }

  &__entry-title {
    color: #fff;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px;

    @media (min-width: 40em) {
      font-size: 24px;
    }
  }

  &__entry-section {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
  }

  &__entry-section,
  &__entry-section a {
    color: rgba(255, 255, 255, .8);
  }

  &__nav {
    align-items: stretch;
    backface-visibility: hidden;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;

    @media (min-width: 40em) {
      padding: 0;
      width: 50%;
    }
  }

  &__nav a {
    color: #909090;
    display: block;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 0;
    position: relative;
    text-decoration: none;
    transition: color .2s;
    width: 50%;

    @media (min-width: 40em) {
      padding: 20px;
    }

    @media (min-width: 50em) {
      padding: 32px;
    }
  }

  &__nav a:hover {
    color: #2178a3;
  }

  &__nav a:hover svg {
    fill: #2178a3;
    transform: scale3d(1, 1, 1);
  }

  &__nav-wrap {
    margin: 0;
    text-align: center;
  }

  &__nav svg {
    display: block;
    fill: #ccc;
    margin: 0 auto 2px;
    transform: scale3d(.75, .75, 1);
    transition:
      fill .1s,
      transform .1s;
    will-change: fill;

    @media (min-width: 40em) {
      margin-bottom: 5px;
      transform: scale3d(.875, .875, 1);
    }
  }
}
