.Visor {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.Visor * {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.Visor::before {
  background-color: rgba(0, 0, 0, 0.875);
  content: "";
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  transition: opacity 0.3s, visibility 0.3s;
  width: 100%;
  will-change: opacity, visibility;
  visibility: hidden;
  z-index: 999;
}

.Visor.is-open::before {
  opacity: 1;
  visibility: visible;
}

.Visor__toggle {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 998;
}

.Visor__toggle svg {
  filter: drop-shadow(0 2px 0 #999);
}

.Visor__toggle path {
  fill: #fff;
  opacity: 0.5;
}

.Visor__modal {
  background: linear-gradient(135deg, #124b92, #35b3b9 60%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  left: 50%;
  max-width: 25rem;
  position: fixed;
  opacity: 0;
  width: 92.5%;
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0.75, 0.75, 1);
  will-change: opacity, visibility, transform;
  visibility: hidden;
  z-index: 1000;
}

.Visor.is-open .Visor__modal {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  transition-delay: 0.25s;
  visibility: visible;
}

.Visor__close {
  appearance: none;
  border: none;
  background: linear-gradient(#fff, #f3f3f3);
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.15);
  position: absolute;
  border-radius: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  right: -0.75rem;
  top: -0.75rem;
  padding: 0;
  margin: 0;
}

.Visor__close rect {
  fill: #888;
}

.Visor__modal-wrap {
  display: grid;
}

.Visor__title {
  align-items: center;
  display: flex;
  padding: 2rem 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.Visor__title-wrap {
  width: 100%;
}

.Visor__bg-icon {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: -20%;
  opacity: 0.05;
}

.Visor__bg-icon path {
  fill: #fff;
}

.Visor__title h2,
.Visor__title p,
.Visor__title a {
  color: #fff;
}

.Visor__title h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0 0 0.5rem;
}

.Visor__title p {
  margin: 0;
}

.Visor__title a {
  font-weight: bold;
}

.Visor__title a:hover {
  text-decoration: none;
}

.Visor__controls {
  background-color: #fff;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.Visor__link {
  color: #888;
  font-size: 0.875rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.Visor__link-icon {
  display: block;
  margin-bottom: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.15s;
}

.Visor__link-icon path {
  fill: #ccc;
}

.Visor__link:hover .Visor__link-icon {
  transform: translate3d(0, -0.5rem, 0);
}

@media (min-width: 40em) {
  .Visor__modal-wrap {
    grid-template-columns: 1fr 1fr;
  }

  .Visor__modal {
    max-width: 45rem;
  }

  .Visor__link {
    font-size: 1rem;
    padding: 2.5rem 2rem;
  }

  .Visor__title {
    padding: 0 2rem;
  }

  .Visor__title h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
}
